<template name="submit">
    <h2>Create a New Event</h2>
    <form id='createEvent'>
        Title:<br>
        <input type="text" id="crTitle" class='crField' placeholder="Title">
        <br>
        Location:<br>
        <input type="text" id="crLocation" class='crField' placeholder="Location">
        <br>
        Description:<br>
        <input type="text" id="crInfo" class='crField' placeholder="Description">
        <br>
        Tags:<br>
        <input type="text" id="crTags" class='crField' placeholder="Insert tags">
        <br>
        Date:<br>
        <input type="date" id="crDate">
        <br>
        Time:<br>
        <input type="time" id="crTime">
        <br>

        <br><br>
        <input type="submit" value="Submit">
    </form>
</template>
